body {
  font-family: "Helvetica", sans-serif;
  font-size: 22px;
  margin: 0;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

h2, h3, h4 {
  margin: 0;
  padding: 10px;
}

/* Header Section */

header {
  display: flex;
  align-items: center;
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 69px;
  top: 0; left: 0; right 0;
  border-bottom: 1px solid seashell;
}

.logo {
  display: flex;
  flex-grow: 1;
  height: 50px;
  padding-left: 10px;
}

header span {
  padding-right: 20px;
  text-decoration: underline;
  }

header a {
  color: seashell;
}

/* Main Content */


/* Mission Content */

#mission {
  background-image: url("../resources/images/img-mission-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 50px;
  margin-top: 70px;
  text-align: center;
  height: 700px;
  width: 1200px;

}

#mission .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  background-color: black;
  width: 1200px;
  padding: 5px;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Tea of the Month Section */

#month {
  margin: auto;
  height: 700px;
  width: 1000px;
  padding-top: 70px;
}

.stock {
  padding: 5px;
}

.stock img {
  display: block;
  height: 200px;
  margin: 10px;
}

.stock span {
  display: block;
  text-align: center;
  font-weight: bold;
  padding: 5px;
}

/* Locations Section */

#locations {
  background-image: url("../resources/images/img-locations-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 50px;
  height: 500px;
  width: 1200px;
}

#locations flex-container {
  margin: auto;
  width: 1100px;
}

#locations .addresses {
  display: flex;
  padding: 70px;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-basis: 280px;
  margin: 5px 20px;
  padding: 10px
  background-color: black;
  opacity: 1.0;
}

/* Contact Section */

#contact {
  display: block;
  align-content: space-between;
  height: 200px;
}

/* Footer Section */
footer {
  text-align: left;
  margin-left: 20px;
}
